form {
  max-width: 700px;
  min-width: 375px;
  border: 1px solid #dede;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(200,0,255, 0.3);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
}
