/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import '~font-awesome/scss/font-awesome.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

html, body {
  font-family: 'Delius', cursive;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  min-height: 100%;
}

body {
  height: 100%;
}


