<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="container mt-4">
  <h3 *ngIf="areaName">{{ areaName | titlecase }}</h3>
  <button class="mt-4 btn btn-lg btn-outline-primary mb-3" (click)="open()">
    Add New Item
  </button>
  <button
    class="mt-4 btn btn-lg btn-outline-warning mb-3 ml-3"
    (click)="enableEditMode()"
  >
    Edit Items
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          scope="col"
          [appSortable]="items"
          data-name="name"
          data-order="desc"
          data-type="string"
        >
          Name
          <i class="fa fa-sort ml-2" aria-hidden="true"></i>
        </th>
        <th class="text-center" scope="col" *ngIf="!editMode">
          Add to Grocery List
        </th>
        <th class="text-center" scope="col" *ngIf="editMode">Edit Items</th>
      </tr>
    </thead>
    <tbody>
      <tr
        groceryRow
        *ngFor="let item of items"
        [item]="item"
        [areaId]="areaId"
        [editMode]="editMode"
        (deletedItemEvent)="onItemDeleted(item)"
        (updatedItemEvent)="onItemUpdated(item)"
        (itemAddedToListEvent)="onItemAddedToList()"
      ></tr>
    </tbody>
  </table>
</div>
